<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Mageplaza_SteavisGarantis::menu" 
		title="Société des Avis Garantis" 
		module="Mageplaza_SteavisGarantis" 
		sortOrder="10" 
		resource="Magento_Backend::content"/>
			<add id="Mageplaza_SteavisGarantis::menu_item" 
			title="Create Account" 
			module="Mageplaza_SteavisGarantis" 
			sortOrder="10" 
			action="steavisgarantis/create/index" 
			resource="Magento_Backend::content" 
			parent="Mageplaza_SteavisGarantis::menu"/>
		   <add id="Mageplaza_SteavisGarantis::manage_sagsettings" 
			title="Settings" 
			module="Mageplaza_SteavisGarantis" 
			sortOrder="99" 
			action="adminhtml/system_config/edit/section/sag" 
			resource="Magento_Backend::content"
			parent="Mageplaza_SteavisGarantis::menu" />
	</menu>
</config>